In [ ]:
import pandas as pd
import pyautogui
import datetime

In [ ]:
df = pd.read_csv("new.csv")

In [14]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [15]:
print(df.tail(10))

       #                 Name   Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
790  714               Noibat   Flying  Dragon   40      30       35       45
791  715              Noivern   Flying  Dragon   85      70       80       97
792  716              Xerneas    Fairy     NaN  126     131       95      131
793  717              Yveltal     Dark  Flying  126     131       95      131
794  718     Zygarde50% Forme   Dragon  Ground  108     100      121       81
795  719              Diancie     Rock   Fairy   50     100      150      100
796  719  DiancieMega Diancie     Rock   Fairy   50     160      110      160
797  720  HoopaHoopa Confined  Psychic   Ghost   80     110       60      150
798  720   HoopaHoopa Unbound  Psychic    Dark   80     160       60      170
799  721            Volcanion     Fire   Water   80     110      120      130

     Sp. Def  Speed  Generation  Legendary
790       40     55           6      False
791       80    123           6      False
792       98     99           6       True
793       98     99           6       True
794       95     95           6       True
795      150     50           6       True
796      110    110           6       True
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [24]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [ ]:
print(df.columns) #columns name

In [ ]:
df[["Name","HP","Attack"]][10:15]

In [59]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [63]:
df.iloc[4,5]

52

In [4]:
df.loc[df["HP"]==60]

NameError: name 'df' is not defined

In [6]:
df.sort_values(["Name","Attack"],ascending =[0,1])

NameError: name 'df' is not defined

In [5]:
df.head()

NameError: name 'df' is not defined

In [109]:
df["Total"] = df["Attack"] + df["HP"]+ df["Sp. Def"] + df["Speed"] + df["Defense"]

In [110]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,253
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,325
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,425
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,503
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,249

In [114]:
df.drop(columns=["Total"])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [16]:
df["total"] = df.iloc[:,4:10].sum(axis=1)

In [17]:

df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [18]:
df.drop(columns ="#")

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [39]:
new = df.loc[(df['Type 1'] =="Grass") & (df["Type 2"]=='Poison')&(df["Attack"]>89)]
new.reset_index(drop=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
1,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
2,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490

In [41]:
df.drop(columns="#")

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [61]:
import re

df.loc[df["Name"].str.contains('^pi[a-z]*',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

In [69]:
df.loc[df["Attack"]>90,["Legendary","total"]]=["Qiymatlar sohasi",'2-ustun']
df.head(50)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,True,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,True,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,True,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,Qiymatlar sohasi,2-ustun
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,Qiymatlar sohasi,2-ustun
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,Qiymatlar sohasi,2-ustun
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,Qiymatlar sohasi,2-ustun
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,205
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False,395
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,195
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False,205
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False,395
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,Qiymatlar sohasi,2-ustun
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
24,19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False,253
25,20,Raticate,Normal,NaN,55,81,60,50,70,97,1,False,413
26,21,Spearow,Normal,Flying,40,60,30,31,31,70,1,False,262
27,22,Fearow,Normal,Flying,65,90,65,61,61,100,1,False,442
28,23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False,288
29,24,Arbok,Poison,NaN,60,85,69,65,79,80,1,False,438
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
31,26,Raichu,Electric,NaN,60,90,55,90,80,110,1,False,485
32,27,Sandshrew,Ground,NaN,50,75,85,20,30,40,1,False,300
33,28,Sandslash,Ground,NaN,75,100,110,45,55,65,1,Qiymatlar sohasi,2-ustun
34,29,Nidoran (Female),Poison,NaN,55,47,52,40,40,41,1,False,275
35,30,Nidorina,Poison,NaN,70,62,67,55,55,56,1,False,365
36,31,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,Qiymatlar sohasi,2-ustun
37,32,Nidoran (Male),Poison,NaN,46,57,40,40,40,50,1,False,273
38,33,Nidorino,Poison,NaN,61,72,57,55,55,65,1,False,365
39,34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,Qiymatlar sohasi,2-ustun
40,35,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False,323
41,36,Clefable,Fairy,NaN,95,70,73,95,90,60,1,False,483
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,299
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False,505
44,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False,270
45,40,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False,435
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False,245
47,42,Golbat,Poison,Flying,75,80,70,65,75,90,1,False,455
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,True,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,True,395

In [70]:
df.mean()

#             362.81375
HP             69.25875
Attack         79.00125
Defense        73.84250
Sp. Atk        72.82000
Sp. Def        71.90250
Speed          68.27750
Generation      3.32375
dtype: float64

In [92]:
df["Attack"]=49
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,True,318
1,2,Ivysaur,Grass,Poison,60,49,63,80,80,60,1,True,405
2,3,Venusaur,Grass,Poison,80,49,83,100,100,80,1,True,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,49,123,122,120,80,1,Qiymatlar sohasi,2-ustun
4,4,Charmander,Fire,NaN,39,49,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,49,150,100,150,50,6,Qiymatlar sohasi,2-ustun
796,719,DiancieMega Diancie,Rock,Fairy,50,49,110,160,110,110,6,Qiymatlar sohasi,2-ustun
797,720,HoopaHoopa Confined,Psychic,Ghost,80,49,60,150,130,70,6,Qiymatlar sohasi,2-ustun
798,720,HoopaHoopa Unbound,Psychic,Dark,80,49,60,170,130,80,6,Qiymatlar sohasi,2-ustun
799,721,Volcanion,Fire,Water,80,49,120,130,90,70,6,Qiymatlar sohasi,2-ustun